:root {
  --bg-color: #fff;
  --text-color: #000;
  --font-family: "Arial", sans-serif;
}

* {
  transition: all 0.3s ease;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-family: var(--font-family);

  background: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  gap: 1rem;
}

.btn {
  background: var(--text-color);
  color: var(--bg-color);

  border: none;
  padding: 1em 2em;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 0.5rem;
}
