:root {
  --heading-color: hsl(50, 30%, 40%);
  --red: red;
}

h1,
h2 {
  color: var(--heading-color);
}

.alt {
  --heading-color: hsl(80, 40%, 50%);
}

button {
  --btn-background: var(--red);
  background: var(--btn-background);
  border: 5px dotted var(--btn-background);
  padding: 1rem;

  &:hover {
    --btn-background: green;
  }
}
