.nav {
  background: #434352;

  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 1.5rem;

  li {
    position: relative;
    padding: 1rem 0;
    color: white;
    cursor: pointer;

    &::after {
      position: absolute;
      display: block;
      content: "";
      bottom: 0.6rem;
      left: 0;
      width: 0%;
      height: 0.125rem;
      background: white;

      transition: width 0.2s cubic-bezier(0.14, 0.6, 0.22, 0.91);
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

@keyframes circle {
  0% {
    border-radius: 50%;
    transform: none;
    background: #853215;
  }
  33.33% {
    border-radius: 0;
    background: #492853;
  }
  66.66% {
    transform: rotate(45deg);
    background: #1654ee;
  }
  100% {
    border-radius: 50%;
    transform: none;
    background: #853215;
  }
}

.circle {
  position: fixed;
  right: 5rem;
  bottom: 5rem;

  width: 20rem;
  height: 20rem;
  background: #853215;

  border-radius: 50%;

  animation-name: circle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.circle:nth-child(2) {
  left: 5rem;
  top: 10rem;

  animation-delay: -0.5s;
}
